@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(255, 157, 10);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(195, 100%, 80%, 0.566);
  }
}


